.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .posts {
    max-width: 720px;
    margin: 5rem auto 0;
  
    a {
      display: block;
  
      & + a {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid var(--gray-700);
      }
  
      time {
        font-size: 1rem;
        display: flex;
        align-items: center;
        color: var(--gray-300);
      }
  
      strong {
        display: block;
        font-size: 1.5rem;
        margin-top: 1rem;
        line-height: 2rem;
        transition: color 0.2s;
      }
  
      p {
        color: var(--gray-300);
        margin-top: 0.5rem;
        line-height: 1.625rem;
      }
  
      &:hover strong {
        color: var(--yellow-500);
      }
    }
  }

  /* --------- */
/* Resume */
/* --------- */
.resumeSection {
  position: relative !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.resume {
  display: flex;
  padding-top: 10px;
  padding-bottom: 50px;
  text-align: center;
}

.resumeLeft {
  padding-right: 80px !important;
}

.resumeRight {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .resumeLeft {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resumeRight {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.resume .resumeTitle {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resumeTitle {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  // border-left: 2px solid var(--yellow-500);
  position: relative;
}


.btnPrimary {
  margin-top: 30px;
  color: #fff !important;
  background-color: var(--yellow-500);
  border-color: var(--yellow-500);
  width: 150px;
  margin: 0 0px 40px;
}

.btnPrimary:hover {
  color: #fff !important;
  background-color: var(--yellow-500);
  border-color: var(--yellow-500);
  filter: grayscale(20%);
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

